
.HomeNews_inner{
    max-width: 350px;
    border: 1px solid gray;
}

.homeNews__title{
    font-size: 22px;
    color: black;
}

.homeNews__describe{
    margin-top: 20px;
    font-size: 16px;
}

.HomeNews__all{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}